
html {
	height: 95%;
}
body {
	font-size: 100%;
	font-family: sans-serif;
	height: 95%;
}
pre {
	font-family: courier;  
}
select, input {
	font-size: 0.8em;
}
.title, .warn, .error {
	text-align: center;
} 
.warn, .blue {
	color: blue;
}
.green {
	color: green;
}
.error, .red {
	color: red;
	text-decoration: none;
}
.highcol {
	background: #e0e0e0;
	text-align: center;
}
table {
	border-collapse: collapse;
}
th, td {
	padding: 3px;
}
fieldset {
	margin-bottom: 1em;
	border-radius: 8px;
	background-color: #f0f0f0;
}
legend {
	font-weight: bold;
	font-style: italic;
}

.menu {
	font-weight: bold;
	background-color: #8f8f8f;
}
.menu a, .menu label {
	display: block;
	text-decoration: none;
	color: #F0F0F0;
}
.menu a:hover, .menu label:hover {
	background-color: #aaaaaa;
}
.menu ul, ul.menu {
	padding: 0px;
	margin: 0px;
}
.menu li {
	display: block;
	position: relative;
	list-style: none;
}
.menu li ul, .menu input {
	display: none;
}

/* vertical menu */
.vmenu li:hover ul {
	margin-left: 1em;
}
.vmenu input:checked ~ ul {
	display: block;
	margin-left: 1em;
}

/* horizontal menu */
.hmenu li {
	float: left;
	width: 6em;
	background-color: #8f8f8f;
	z-index: 1000;
}
.hmenu .short li {
	width: 12em;
}
.hmenu li ul {
	position: absolute;
}
.hmenu li:hover ul {
	display: block;
}

/* Shortcuts */
.short {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}
.short a {
	text-decoration: underline;
	background: #f0f0f0;
	color: black;
}

/* tooltips */
.ttip {
	font-family: sans-serif;
	border: solid 1px black;
	padding: 2px;
	color: #333333;
	background-color: #ffffaa;
	position: absolute;
	visibility: hidden;
	border-radius: 8px;
	z-index: 200;
}

/* bargraphs */
.meter-wrap {
	position: relative;
	z-index: 100;
}
.meter-wrap, .meter-value, .meter-text {
	width: 100%;
	height: 1em;
}	
.meter-wrap, .meter-value {
	background: #bdbdbd top left no-repeat;
}		   
.meter-text {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	font-size: .8em;
}

/* table debugging /*
table, td, th { border: 1px solid black; }
td { background-color: #d0d0d0; }
th { background-color: #606060; color: white; }
/**/
