<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<!-- FIXME: Some services bellow might be disabled
How to dinamically changes this?
-The rcscripts add/remove the xml fragment to this directory when started/stopped?
-or will edit this file? more complex.
-Or only the avahi rcscript will do this? Simpler, but if services are latter
 started or stopped avahi will not know.
-The best seems to write a utility function that all initscripts will call, and that
 function will add/remove the xml framents to this directory, unconditionally of
 avahi being running or not. inetd is a special case, as it start several services.
-->

<service-group>
	<name replace-wildcards="yes">%h</name>
	<service>
		<type>_http._tcp</type>
		<port>80</port>
	</service>
	<service>
		<type>_smb._tcp</type>
		<port>139</port>
	</service>
	<service>
		<type>_ftp._tcp</type>
		<port>21</port>
	</service>
	<service>
		<type>_sftp-ssh._tcp</type>
		<port>22</port>
	</service>
	<service>
		<type>_ssh._tcp</type>
		<port>22</port>
	</service>
	<service>
		<type>_telnet._tcp</type>
		<port>23</port>
	</service>
	<service>
		<type>_rsync._tcp</type>
		<port>873</port>
	</service>
	<service>
		<type>_printer._tcp</type>
		<port>515</port>
	</service>
	<service>
		<type>_nfs._tcp</type>
		<port>2049</port>
		<txt-record>path=/mnt</txt-record> ## mount points
	</service>
	<service>
		<type>_ntp._udp</type>
		<port>123</port>
	</service>
	
<!-- next services might also be provided by packages-->

	<service>
		<type>_afpovertcp._tcp</type>
		<port>548</port>
	</service>
	<service>
		<type>_ipp._tcp</type>
		<port>631</port>
	</service>
	<service>
		<type>_daap._tcp</type>
		<port>3689</port>
	</service>

</service-group>
