BR2_arm=y
BR2_ARM_INSTRUCTIONS_THUMB=y
BR2_PROJECT="base"
BR2_WGET="wget --passive-ftp -nd"
BR2_GIT="git clone"
BR2_DL_DIR="$(BASE_DIR)/dl"
BR2_KERNEL_MIRROR="http://www.kernel.org/pub/"
BR2_PIC_PIE=y
BR2_RELRO_PARTIAL=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_19=y
BR2_UCLIBC_CONFIG="./board/dns32x/pkgs/uclibc.config"
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_BINUTILS_EXTRA_CONFIG_OPTIONS="--enable-gold --enable-interwork"
BR2_EXTRA_GCC_CONFIG_OPTIONS="--enable-interwork"
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_LTO=y
BR2_GCC_ENABLE_GRAPHITE=y
BR2_TARGET_OPTIMIZATION="-pipe -fomit-frame-pointer -mabi=aapcs-linux"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="./board/dns32x/customroot"
# BR2_ENABLE_LOCALE_PURGE is not set
BR2_ROOTFS_POST_BUILD_SCRIPT="./board/dns32x/configfs"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.19.140"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="./board/dns32x/pkgs/linux.config"
BR2_LINUX_KERNEL_XZ=y
BR2_LINUX_KERNEL_EXT_AUFS=y
BR2_LINUX_KERNEL_EXT_AUFS_SERIES_4=y
BR2_LINUX_KERNEL_EXT_AUFS_VERSION="aufs4.19.63+"
BR2_PACKAGE_BUSYBOX_CONFIG="./board/dns32x/pkgs/busybox.config"
# BR2_TARGET_ROOTFS_TAR is not set
