[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
O = Alt-F
OU = ${ENV::BOX}
CN = ${ENV::HOST}
[v3_req]
keyUsage = keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = ${ENV::HOST}
DNS.2 = ${ENV::FHOST}
