BR2_arm=y
BR2_PROJECT="qemu"
BR2_WGET="wget --passive-ftp -nd"
BR2_GIT="git clone"
BR2_DL_DIR="$(BASE_DIR)/dl"
BR2_KERNEL_MIRROR="http://www.kernel.org/pub/"
BR2_JLEVEL=1
BR2_UCLIBC_CONFIG="./local/pkgs/uclibc.config"
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_BINUTILS_VERSION_2_28_X=y
BR2_BINUTILS_EXTRA_CONFIG_OPTIONS="--enable-gold"
BR2_GCC_VERSION_4_9_X=y
BR2_GCC_ENABLE_LTO=y
BR2_GCC_ENABLE_GRAPHITE=y
BR2_TARGET_OPTIMIZATION="-pipe -fomit-frame-pointer"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="./customroot"
# BR2_ENABLE_LOCALE_PURGE is not set
BR2_ROOTFS_POST_BUILD_SCRIPT="./configfs"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="./local/qemu/linux.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="versatile-pb"
BR2_LINUX_KERNEL_EXT_AUFS=y
BR2_LINUX_KERNEL_EXT_AUFS_SERIES_4=y
BR2_LINUX_KERNEL_EXT_AUFS_VERSION="aufs4.11.7+"
BR2_PACKAGE_BUSYBOX_CONFIG="./local/pkgs/busybox.config"
BR2_PACKAGE_XZ=y
BR2_PACKAGE_KEXEC=y
BR2_PACKAGE_KEXEC_ZLIB=y
BR2_PACKAGE_CIFS_UTILS=y
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_SQUASHFS=y
BR2_PACKAGE_MDADM=y
BR2_PACKAGE_MICROPYTHON=y
BR2_PACKAGE_OPENSSL_BIN=y
BR2_PACKAGE_MSMTP=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SAMBA_SMALL=y
BR2_PACKAGE_STUNNEL=y
BR2_PACKAGE_VSFTPD=y
BR2_PACKAGE_ALT_F_UTILS=y
BR2_PACKAGE_ALT_F_UTILS_TARGET=y
BR2_PACKAGE_ALT_F_UTILS_HOST=y
BR2_PACKAGE_AT=y
BR2_PACKAGE_ACL=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HOST_MKE2IMG=y
